<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<timestamp key="Date" datePattern="dd-MM-yyyy" />
	<appender name="fileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>C://dev//logs//logSCG-${Date}.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>C://dev//logs//logSCG-${Date}.%i.logDual.zip
			</FileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>50KB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} {%thread} %-5level %logger{36} - {%method}
				-
				%msg%n</pattern>
		</encoder>
	</appender>
	<root level="debug">
		<appender-ref ref="fileAppender" />
	</root>
</configuration>
